/*Color Palette
#A4B494 - LAUREL GREEN
#BEC5AD - GRAY (X11 GRAY) 190, 197, 173
#3B5249 - (ARSENIC)
#519872 - (WINTERGREEN DREAM)
#34252F - (JET)
--------------*/

/*Global styles
----------------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  color: #34252F;
}

h1, h2 {
  font-family: 'Rock Salt', cursive;
}

h1 {
  font-size: 50px;
  text-shadow: -2px 2px 3px #DEA6FF;
}

h2 {
  font-size: 30px;
  margin-top: 0;
}

h3 {
  margin: 0;
}

a {
  color: #BEC5AD;
}

a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}


.uppercase {
  text-transform: uppercase;
  margin-top: 10px;
}
.tech-skills {
  margin-top: 50px;
}
header .btn {
  text-decoration: none;
  background: #DEA6FF;
  color: #34252F;
  padding: 10px;
  display: inline-block;
}

header .btn:hover {
  text-decoration: none;
  background: #3B5249;
  color: #BEC5AD;
  padding: 10px;
  display: inline-block;
}

/* Animation */
.rw-wrapper {
	max-width: 950px;
  max-height: ;
	margin: 0 auto;
	padding: px;
  overflow: visible;
}

.rw-sentence {
	margin-top: -200px;
  margin-left: 425px;
  line-height: 1;
  font-family: 'Work Sans', sans-serif;
	float: left;
}

.rw-sentence span {
	color: #BEC5AD;
	white-space: nowrap;
	font-size: 24px;
	font-weight: normal;
}

.rw-words {
  font-family: 'Rock Salt', cursive;
	display: inline;
	text-indent: 10px;
}

.rw-words span {
  font-size: 24px;
	position: absolute;
  margin-top: 3px;
  padding: 4px;
	opacity: 0;
	overflow: hidden;
	width: 100%;
	color: #6b969d;
}

.rw-words-1 span{
	animation: rotateWordsFirst 48s linear infinite 0s;
}
.rw-words-2 span{
	animation: rotateWordsSecond 48s linear infinite 0s;
}
.rw-words span:nth-child(2) {
	animation-delay: 8s;
	color: #6b889d;
}
.rw-words span:nth-child(3) {
	animation-delay: 16s;
	color: #6b739d;
}
.rw-words span:nth-child(4) {
	animation-delay: 24s;
	color: #7a6b9d;
}
.rw-words span:nth-child(5) {
	animation-delay: 32s;
	color: #8d6b9d;
}
.rw-words span:nth-child(6) {
	animation-delay: 40s;
	color: #9b6b9d;
}

@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

@keyframes rotateWordsSecond {
    0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}

/*Header and footer styles
----------------------------------*/
header, footer {
  background: #34252F;
  color: #BEC5AD;
}
/* Header */
header {
  padding-top: 50px;
  position: relative;
}

.profile-img {
  border-radius: 20px;
  width: 250px;
  float: left;
}
header h1, header h2 {
  color: #519872;
  margin: 0;
  padding-left: 25px;
}

.btn, .download {
  position: absolute;
  bottom: 0;
  right: 0;
}

#about nav a:hover {
  color: #3B5249;
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
}
.contact-info a {
  background: #DEA6FF;
  color: #34252F;
  padding: 20px;
  border-radius: 15px;
  display: inline-block;
}
.contact-info a:hover {
  background: #3B5249;
  color: #BEC5AD;
  padding: 20px;
  border-radius: 15px;
  display: inline-block;
}

/* Navigation */
nav {
  text-align: center;
  background: #DEA6FF;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #34252F;
}

/*Work Experience styles
----------------------------------*/
.work {
  background: radial-gradient(rgba(190, 197, 173, 1.0), rgba(190, 197, 173, 0.8)),
  url(../images/FuzzyBlooms.jpg) no-repeat fixed;
  background-size: cover;
}

h3 ~ p {
  margin: 0;
}

.job-description {
  margin-top: 25px;
}

.job-description a {
  color: #34252F;
  font-weight: 700;
}

.job-description a:hover {
  color: #519872;
  text-decoration: underline;
  font-weight: 700;
}
/*Education styles
----------------------------------*/
.education {
  background: #519872;
}

p + h3 {
  margin-top: 20px;
}

.uppercase, .degree {
  margin-top: 5px;
}

/* Media Queries */

@media (min-width: 900px) {
  .col-narrow {
    width: 40%;
    float: left;
  }
  .col-narrow h2 {
    line-height: 1.25;
  }
  .col-narrow p ul{
    padding-top: -20px;
  }
  .col-wide {
    width: 60%;
    float: left;
    padding-left: 20px;
    margin-bottom: 15px;
  }
  .col-wide p {
    margin-top: 25px;
  }
}
@media (max-width: 899px) {
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
  h1 {
    font-size: 45px;
    text-shadow: -1.5px 1.5px 2px #DEA6FF;
  }

  h2 {
    font-size: 24px;
    margin-top: 0;
  }
  header h1, header h2 {
    padding-left: 225px;
  }
  .rw-sentence {
  	margin-top: -115px;
    margin-left: 125px;
    line-height: 0.75;
    font-family: 'Work Sans', sans-serif;
  	float: left;
    text-align: left;
  }
  .rw-sentence span {
  	color: #BEC5AD;
  	white-space: nowrap;
  	font-size: 16px;
  	font-weight: normal;
  }

  .rw-words {
    font-family: 'Rock Salt', cursive;
  	display: inline;
  	text-indent: 10px;
  }

  .rw-words span {
    font-size: 16px;
  	position: absolute;
    margin-top: 4px;
    padding: 3px;
  	opacity: 0;
  	overflow: hidden;
  	width: 100%;
  	color: #6b969d;
  }

}
